
            p{
                font-family: arial;
                margin-bottom: 0;
                margin-top: 0;
            }
            
            .profile{
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
                width: 200px;
                display: inline-block;
                margin-right: 10px;
            }

            .mutual-friend-row{
            margin-bottom: 10px;
            margin-left: 5px;

            }


            .profile-picture{
                width: 200px;
                height: 200px;
                object-fit: cover;
                margin-bottom: 12px;
                
            }

            .name{
                font-size: 18px;
                font-weight: bold;
                margin-left: 8px;
                margin-bottom: 5px;
                
                
            }

            .mutual-friends{
                color: rgb(100, 100, 100);
                vertical-align: middle;
                display: inline-block;
                
               }

            .add-mutual-friend{
                font-family: arial;
                font-size: 15px;
                background-color: blue;
                color: white;
                border: none;
                border-radius: 4px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 22px;
                padding-right: 22px;
                margin-left: 8px;
                margin-bottom: 10px;
                
            }

            .mutual-friend-picture{
                width: 28px;
                height: 28px;
                border-radius: 14px;
                object-fit: cover;
                vertical-align: middle;
            }
    